.item {
  width: 64px;
  height: 64px;
  background-color: #C37D9C;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px #00000040;
  cursor: pointer;
}
.icon {
  width: 64px;
  height: 64px;
}
.dupa {
  transform: scale(0.5) translateX(-75%) translateY(-75%);
}