.item {
  width: 64px;
  height: 64px;
  background-color: #C37D9C;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px #00000040;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &-clicked {
    background-color: #853F5D;
  }

  &-complete {
    opacity: 0;
    user-select: none;
    cursor: auto;
  }


}

.icon {
  width: 64px;
  height: 64px;
}


.vector {
  opacity: 0;

  &-complete {
    opacity: 0;
  }

  &-clicked {
    opacity: 100;
  }
}