@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.tables {
  background-color: #5A2734;
  color: white;
  text-align: center;
  border-radius: 32px;
  box-shadow: 0px 4px 4px 0px #00000040;
  width: 325px;
  height: 65px;
  display: flex;
  justify-content: center;
}

.text {
  font-family: Roboto;
  font-size: 24px;
  padding-top: 18px;
  margin: 0;
}

.number {
  font-family: Roboto;
  margin: 0;
  font-size: 24px;
  padding-top: 18px;
  padding-left: 10px;
}

.tables-desktop {
  width: 396px;
  height: 110px;
  display: block;
}

.text-desktop {
  padding-top: 15px;
}

.number-desktop {
  font-size: 36px;
  padding-top: 10px;
}